h1 {
  text-align: center
}

h2 {
  text-align: center
}

h3 {
  text-align: center
}

h4 {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
}

.css, .c-sharp, .java, .php, .ruby {
  display: none;
}

.question-margin {
  margin-top: 15px;
  margin-bottom: 15px;
